<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://res.cloudinary.com/dn1ywf2d5/image/upload/v1606465187/cocktail%20rails%20proj/cocktail_banner_hsro47.jpg)">
  <p>Our cocktail</p>
</div>

<div>
  <a class="btn btn-primary" href="<%= cocktails_path(@cocktails) %>">Home</a>
</div>

<div class="container">
  <div class="card-product">
    <img src="https://www.thecocktaildb.com/images/media/drink/vrwquq1478252802.jpg/preview" />
    <div class='card-product-infos'>
      <h2><%= @cocktail.name %></h2>
      <% @cocktail.doses.each do |dose|%>
        <div class='row'>
          <div class='row-desc'>
            <p>Description: <%= dose.description %></p>
            <p>Ingredient:  <%= dose.ingredient.name %></p>
          </div>
          <%= link_to "Remove", dose_path(dose), method: 'delete', class: "btn btn-primary" %>
          <%= link_to "Create Dose", new_cocktail_dose_path(@cocktail), class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>
</div>





  