<h1>Doses#new</h1>
<p>Find me in app/views/doses/new.html.erb</p>

<h1>Create new dose for <%= @cocktail.name %></h1>

<%# must order parent first for association forms, etc [@parent,@child] %>
<%= simple_form_for([@cocktail, @dose]) do |f| %>
  <%= f.input :description %>
  <%= f.association :ingredient %>
  <%# if it is associated, simple form will display to you %>
  <%# i do not need to associate cocktail since i already stated the cocktail before i get to doses %>
  <%= f.button :submit, class: 'btn btn-primary' %>
<% end %>